@import "src/assets/scss/variables";

.App,
.app {
  text-align: center;
  &-logo {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
  }
}

nav {
  padding: 24px 0;
  background-color: #ccc;

  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: $color-font;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  a+a {
    border-left: 1px solid silver;
    margin-left: 10px;
    padding-left: 10px;
  }
}
